<!DOCTYPE html>
{% load staticfiles %} <!-- to reference static CSS files (such as the blog.css file under blog-static-css) -->

<head>
    <meta charset="UTF-8">

    <title>Blog</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Taken from: https://getbootstrap.com/docs/5.3/getting-started/introduction/ -->

    <!-- Medium Style Editor -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
        type="text/css" media="screen" charset="utf-8">
    <!-- Taken from: https://github.com/yabwe/medium-editor -->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/blog.css'%}">

    <!-- Fonts (from Google) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap" rel="stylesheet">
    <!-- Taken from: https://fonts.google.com/ -->

</head>

<body>
    <!-- Navigation Bar (NAVBAR) -->
    <nav> class="navbar navbar-default techfont custom-navbar">
        <!-- techfont links to the static css file, in order to be able to edit the font of the NAVBAR -->
        <div class="container">
            <!-- Content in the Left Hand Side -->
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand bigbrand" href="{% url post_list %}">My Blog</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="https://www.github.com">Github</a></li>
                <li><a href="https://www.linkedin.com">LinkedIn</a></li>
            </ul>
            <!-- Content in the Right Hand Side -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}">New Post</a></li>
                <li><a href="{% url 'post_draft_list' %}">Drafts</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                <li><a>Welcome {% {user.username} %}</a></li>
                {% else %} <!-- if user is not authenticated -->
                <li>
                    <a class="nav navbar-right" href="{url 'login'}"><span class="glyphicon glyphicon-user"></span></a>
                </li>
                <!-- "span" is a way to import an icon from bootstrap -->
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Content Block -->
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                <div class="blog_posts">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>


</body>

</html>